<div class="container">
    <%= render 'shared/errors', obj: @article %>
</div>


<div class="container article-container  shadow mb-2 bg-white rounded">

    <%# model: @article, local: true to display existing article%>
    <div class="row justify-content-center">
        <div class="col-10">
        
 
            <%= form_with(model: @article, local: true) do |f| %>
                <div class="form-group row mt-3">
                    <%=f.label :title, class:"col-2 col-form-label" %>
                    <%=f.text_field :title, class:"col-10 form-control" , placeholder: "Title of article"%>
                </div>
            
                <div class="form-group row">
                    <%=f.label :description, class:"col-2 col-form-label"%>
                    <%=f.text_area :description, rows: 10,class:"col-10 form-control", placeholder:"Description of article"%>
                </div>

                <div class="form-group row justify-content-center">
                    <%= f.submit class:"btn btn-outline-dark btn-lg"%>
                </div>
            <% end %>
        </div>

    </div>

</div>

<div class="row justify-content-center mb-5 mt-3">
    <%= link_to  "[ Cancel ]", :back ,style: 'color:#808080'%> 
    <% if @article.id != nil %>
        <%= link_to '[ Delete ]', article_path(@article.id), method: :delete, data: {confirm:"Are you sure?"},style: 'color:#808080' %> 
    <% end %>
</div>
