<h1 class="text-center mt-4"> <%=@article.title %> </h1>

<div class="container mt-3">
    <div class="row justify-content-md-center">
        <div class="col-7">
            <div class="card text-center shadow mb-5 bg-white rounded">
                <div class="card-header font-italic">
                   by <%= link_to  @article.user.username, user_path(@article.user.id),style: 'color:#808080' %>
                </div>
                <div class="card-body mt-4 mb-5">
                    <div class="card-text text-left"><%= simple_format(@article.description,) %></div>
                </div>
                <div class="card-footer text-muted">
                    <div style="float:left">
                        <small>Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %></small>
                    </div>
                    <% if logged_in? && @article.user == current_user %>
                        <div style="float:right">
                            <%= link_to  "Edit", edit_article_path(@article.id), style: 'color:#808080' %> |
                            <%= link_to 'Delete', article_path(@article.id), method: :delete, data: {confirm:"Are you sure?"},style: 'color:#808080' %>
                        </div>
                    <%end%>

                </div>
            </div>
        </div>
    </div>
</div>

