<h1 class="text-center mt-4"><%= @user.username %>'s Profile</h1>


<%= gravatar_for(@user, size:200) %>

<div class="container mt-3">

    <div class="row justify-content-md-center">
        <div class="btn btn-secondary btn-md">
            <%= link_to  "Edit User Profile", edit_user_path(@user.id), style: 'color:#FFFFFF' %>
        </div>
    </div>
    <h2 class="text-center mt-4">Articles</h2>

    <% @user.articles.each_slice(3) do |articles| %>
        <div class="row">
            <% articles.each do |article| %>
                <div class="col-4 mb-3">
                    <div class="card shadow rounded h-100">
                        <%= link_to  "", article_path(article.id), class:"stretched-link" %>
                        <div class="card-header font-italic">
                            by <%= article.user.username %>
                        </div>
                        <div class="card-body mt-4 mb-5 ">
                            <h5 class="card-title"><%= article.title%></h5>
                            <p class="card-text"><%= truncate(article.description, length:100) %></p>
                        </div>
                        <div class="card-footer text-muted">
                            <small>Created <%= time_ago_in_words(article.created_at) %> ago, edited <%= time_ago_in_words(article.updated_at) %></small>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
    <% end %>

</div>