<h1 class="text-center mt-4"> Categories </h1>


<div class="container mt-3">

    <div class="apple_pagination mb-3">
        <%= will_paginate @categories, :container => false %>
    </div>

    <% @categories.each_slice(3) do |categories| %>
        <div class="row">
            <% categories.each do |category| %>
                <div class="col-4 mb-3">
                    <div class="card shadow rounded">
                        <%= link_to  "", category_path(category.id), class:"stretched-link" %>
                        <% @str = "thumbnails/" + category.name.downcase + ".jpg"%>
                        <%= image_tag @str, class:"card-img-top "  %>
                        <div class="card-body">
                            <h5 class="card-subtitle thumbnail-text"><%= category.name%> (<%= category.articles.size%>)</h5>
                        </div>

                    </div>  
                </div>
            <% end %>
        </div>
    <% end %>

    <div class="apple_pagination mb-3">
        <%= will_paginate @categories, :container => false %>
    </div>
    
</div>
