<h1 class="text-center mt-4"> Categories </h1>


<div class="container mt-3">

    <div class="apple_pagination mb-3">
        <%= will_paginate @categories, :container => false %>
    </div>

    <% @categories.each_slice(3) do |categories| %>
        <div class="row">
            <% categories.each do |category| %>
                <div class="col-4 mb-3">
                    <div class="card shadow rounded h-100">
                        <%= link_to  "", category_path(category.id), class:"stretched-link" %>

                        <div class="card-body mt-4 mb-5 ">
                            <h5 class="card-title"><%= category.name%></h5>
                        </div>
                        <div class="card-footer text-muted">
                            <small>Created <%= time_ago_in_words(category.created_at) %> ago, edited <%= time_ago_in_words(category.updated_at) %></small>
                        </div>
                    </div>  
                </div>
            <% end %>
        </div>
    <% end %>

    <div class="apple_pagination mb-3">
        <%= will_paginate @categories, :container => false %>
    </div>
    
</div>
